#app {
    width: 100%;
}
#projectid, #password {
    display: none;
}
@media only screen and (min-width:768px) {
    #app-details-toggle {
        display: none !important;
    }
    #bill-list {
        max-width: 400px;
    }
}
#newBillButton {
    margin-top: 10px !important;
}
.balancePositive {
    color: green;
}
.balanceNegative {
    color: red;
}
.balance {
    float: right;
    font-weight: bold;
}
.newmemberbutton {
    float: right;
    width: 40px;
}
.newmemberdiv input {
    width: 100%;
}
.newmemberdiv {
    width: 100%;
    padding: 5px 10px 5px 10px;
}
.newmemberdiv,
#addextprojectdiv,
#newprojectdiv {
    display: none;
}
#newprojectdiv label {
    margin: 3px 3px 3px 3px;
    line-height: 32px;
    width: 45%;
    text-align: right;
    float: left;
}
#newprojectdiv input {
    width: 45%;
    float: right;
}
b.memberName, b.memberWeight {
    font-weight: normal;
}

.bill-left select,
.bill-left input {
    /*margin: 0 12px 0 12px;*/
    width: 100%;
}
.bill-form a.icon {
    justify-content: space-between;
    line-height: 44px;
    min-height: 44px;
    padding: 0 12px 0 25px;
}
.bill-left {
    padding: 0px 10px 0px 15px;
    float: left;
    width: 49%;
}
.bill-right {
    float: right;
    width: 49%;
}
.bill-owers label {
    margin-left: 5px;
}
.bill-owers input {
    cursor: pointer;
    /*height: 16px;
    min-height: 16px;*/
    padding: 5px;
    min-height: 0px;
}
.bill-owers input[type=number] {
    display: none;
}
.bill-type,
.bill-owers .numberlabel,
.bill-owers #owerValidate {
    display: none;
}
.owerAllNoneDiv,
.owerEntry {
    margin-left: 56px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.amountinput {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.modehint {
    display: none;
}
.bill-title {
    text-align: center;
    color: white;
}
input[type=number] {
    -moz-appearance: number-input !important;
    -webkit-appearance: initial !important;
}
#settlementTable,
#statsTable {
    width: 100%;
    margin: 20px 20px 20px 20px;
}
#settlementTable th,
#statsTable th {
    font-weight: bold;
}
#mbTitle,
#settlementTitle,
#statsTitle {
    text-align: center;
    background-color: var(--color-background-dark);
}
.undoDeleteBill {
    display: none;
}
#app-settings-content input {
    width: 100%;
}
#app-settings-content button {
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    width: 100%;
    text-align: left;
}
#bill-list > .deleted {
    /*background-color: var(--color-warning);*/
    background-color: var(--color-background-darker);
}
.invisibleMember {
    display: none !important;
}
#app-details-toggle:hover {
    opacity: 1;
}
#app-navigation-toggle:focus {
    opacity: 0.6;
}
#app-navigation-toggle:hover {
    background-color: var(--color-background-darker);
}
#app-details-toggle {
    position: fixed;
    display: inline-block;
    top: 6px;
    left: 44px;
    width: 44px;
    height: 44px;
    z-index: 149;
    background-color: var(--color-background-darker);
    cursor: pointer;
    opacity: 0.6;
    transform: rotate(180deg);
    margin-top: 44px;
}
#billdetail > h2 {
    padding: 20px 0px 20px 0px;
}
.selectedproject {
    background: var(--color-background-dark, lightgrey);
}
.selectedproject > a {
    font-weight: bold;
}
.selectedbill {
    background-color: var(--color-background-dark) !important;
}
.app-navigation-entry-share {
    display: none;
}
.app-navigation-entry-share li {
    display: inline-block !important;
    padding: 5px 10px 5px 10px !important;
}
.shareinput {
    width: 100%;
}
.shareLabel {
    float: left;
}
.deleteGroupShareButton,
.deleteUserShareButton {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}
.loading-bill {
    margin-left: 10px;
    margin-right: 10px;
}
.nobill {
    text-align: center;
    color: var(--color-text-lighter);
}
#billdetail h2 span[class^=icon-] {
    display: inline-block;
    width: 30px;
}
#addFileLinkButton {
    margin-top: 20px;
}

#dummylogo {
    display: none;
    content: url("images/cospend.png");
}
#mbUrlHintLabel,
#mbUrlLabel {
    display: block;
    text-align: center;
}
#qrcodediv {
    width: 210px;
    margin: 0 auto;
}
.activeButton {
    background: var(--color-background-darker);
}
.memberitem > a {
    opacity: 1 !important;
}
.shareLabel * {
    float: left;
}
.shareLabelIcon {
    margin-left: 10px;
    margin-right: 10px;
}
.shareCompleteIcon {
    background-color: inherit;
    border: 0px;
    height: 35px;
    padding-top: 13px;
}
.shareCompleteLink {
    line-height: 35px;
}
.ui-autocomplete {
    z-index: 9999 !important;
}
.app-navigation-entry-share {
    background-color: var(--color-background-darker);
}
.totalPayedText {
    margin: 0px 20px 0px 20px;
}
.autoexportSelect {
    width: 50%;
}
.autoexportLabel {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.member-list-disabled-icon {
    display: inline-block;
    margin-bottom: -3px;
}
a.billitem .app-content-list-item-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#stats-filters {
    margin-left: 20px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
#stats-filters select {
    width: 130px;
}
#stats-filters label {
    line-height: 40px;
}
#billtype {
    max-width: 95%;
}